@using _0_Framework.Application
@model CompanyManagment.App.Contracts.Job.CreateJob
@{
    

   

    <style>
       /* .modal-dialog {
            width: 94% !important;
        }*/

        .select2-container {
            width: 100% !important;
        }

        .modal-footer {
            border-top: unset !important;
        }

        .modal .modal-dialog .modal-content .modal-footer {
            padding-top: unset !important;
        }

        p {
            direction: ltr !important;
            text-align: right !important;
        }

        input[type=radio]:hover {
            cursor: pointer;
        }
        .error {
            font-size: 14px !important;
        }
    </style>

}




<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

    <form asp-page="./Index" asp-page-handler="Create" id="workshops" autocomplete="off"
          method="post"
          data-ajax="true"
          data-callback=""
          data-action="Refresh"
          enctype="multipart/form-data">
        <div class="modal-body">
            <div class="row">
          
                    <fieldset style="border: 1px solid #999797; border-radius: 10px; padding: revert">
                        <legend style="margin-bottom: 5px; font-size: large; border-bottom: 0px; color: #505458; width: 140px; text-align: center;"> ایجاد شغل جدید </legend>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="JobName" class="control-label">  شغل </label>
                                    <input type="text" class="form-control" asp-for="JobName">
                                    <span asp-validation-for="JobName" class="error"></span>


                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="JobCode" class="control-label"> کد شغل </label>
                                    <input type="text" class="form-control" asp-for="JobCode">
                                    <span asp-validation-for="JobCode" class="error"></span>


                                </div>
                            </div>
 


                        </div>



                    </fieldset>
              


            </div>

        </div>
        @*<input type="hidden" asp-for="id" value="id"/>*@
        <div class="modal-footer">

            <button type="submit" class="btn btn-success btn-rounded waves-effect waves-light" >ذخیره</button>

            <button type="button" class="btn btn-default btn-rounded waves-effect waves-light m-b-5" data-dismiss="modal">بستن</button>
        </div>

    </form>

</div>





