@page
@model IndexModel
@{
    ViewData["Title"] = "ورود";
}

<div class="row">

 
   
   
</div>     
<div class="wrapper-page" style="margin: 3% auto 7% !important">
    <div class="panel panel-color panel-primary panel-pages" style="box-shadow: 0 2px 12px rgba(235,69, 9,0.5);">
        <div class="panel-heading bg-img" style="padding: 30px 20px">
            <div class="bg-overlay" style="background-color: rgba(235, 49, 49, 0.4) !important"></div>
            <h3 class="text-center m-t-5 text-white"> <img src="~/AdminTheme/LogoAndProfile/logo.png" class="img-circle" style="width:45px" />  <strong>دادمهر گستر</strong> </h3>
        </div>

        <div class="panel-body">
            @if (@Model.Mess != null)
            {
                <div class="alert alert-danger">@Model.Mess</div>
            }
          
            <form class="form-horizontal" metod="post" asp-page="./Index" asp-page-handler="Enter">

                <div class="form-group ">
                    <div class="col-xs-12">
                        <label class="control-label" style="padding-bottom: 5px; color: #8d8d8d;">نام کاربری </label>
                        <input class="form-control input-lg " asp-for="Username" type="text" required="" placeholder="Username" style="direction: ltr">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="control-label" style="padding-bottom: 5px; color: #8d8d8d;">گذرواژه </label>
                        <input class="form-control input-lg" asp-for="Password" type="password" required="" placeholder="Password" style="direction: ltr">
                    </div>
                </div>

                <div class="form-group " style="margin-bottom: 5px">
                    <div class="col-xs-12">
                        <div>
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup">
                                مرا بخاطر بسپار
                            </label>
                        </div>

                    </div>
                </div>
                <div class="form-group m-t-10">
                    <div class="col-sm-7" style="float: right;">
                        <a href="recoverpw.html"><i class="fa fa-lock"></i> گذرواژه را فراموش کرده ام</a>
                    </div>
                    @*<div class="col-sm-5 text-right">
                        <a href="register.html">Create an account</a>
                    </div>*@
                </div>
                <div class="form-group text-center m-t-15 m-b-0">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-block btn-rounded waves-effect waves-light m-b-5" type="submit" style="background-color: #a10808 !important; border-color: #a10808 !important">ورود</button>
                    </div>
                </div>


            </form>
        </div>

    </div>
</div>

