@*@using _0_Framework.Infrastructure*@

@{

    <style>
        .bl {
            display: block !important;
        }
    </style>
   
}
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="pull-right">
                <img src="~/ProductPictures/profilePhotos/2021-12-03-12-29-55-logo.png" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">ادمین<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> پروفایل<div class="ripple-wrapper"></div></a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings"></i> تنظیمات</a></li>
                        <li><a href="javascript:void(0)"><i class="md md-lock"></i> قفل </a></li>
                        <li><a asp-area="" asp-page="/Index" asp-page-handler="Logout"><i class="md md-settings-power"></i> خروج</a></li>
                    </ul>
                </div>

                <p class="text-muted m-0">developer</p>
            </div>
        </div>
        <!--- Divider -->
        <div id="sidebar-menu">

            <ul>
                <li>
                    <a asp-page="/Index" class="waves-effect active"><i class="md md-home"></i><span> داشبورد </span></a>
                </li>

                <li class="has_sub" permission="100">
                    <a class="waves-effect"><i class="md md-group"></i><span>  بانک اطلاعات  </span><span class="pull-right"><i class="md md-add"></i></span></a>
                
                </li>

                <li class="has_sub" permission="200">
                    <a class="waves-effect"><i class="md md-assignment"></i><span> قرارداد و تسویه </span><span class="pull-right"><i class="md md-add"></i></span></a>
              
                </li>

                <li class="has_sub" permission="300">
                    <a class="waves-effect"><i class="md md-location-city"></i><span>بانک اطلاعات مدیریتی </span><span class="pull-right"><i class="md md-add"></i></span></a>
                   
                </li>
               
                <li class="has_sub" permission="500">
                    <a class="waves-effect"><i class="fa fa-file-text-o"></i><span> پرونده  </span><span class="pull-right"><i class="md md-add"></i></span></a>
                   
                    <ul class="list-unstyled sdf4">
                        <li><a class="clik4" asp-page="/Company/FilePage/Index" style="padding: 10px 94px 10px 0px;">  لیست پرونده ها</a></li>
                        <li><a class="clik4" asp-page="/Company/FilePage/Alerts" style="padding: 10px 94px 10px 0px;">  گزارش ها</a></li>

                    </ul>
            
                </li>
                <li class="has_sub" permission="500">
                    <a class="waves-effect"><i class="fa fa-file-text-o"></i><span> مدیریت متن  </span><span class="pull-right"><i class="md md-add"></i></span></a>
                   
                    <ul class="list-unstyled sdf5">
                        <li><a class="clik5 " asp-page="/Company/TextManager/Index" style="padding: 10px 94px 10px 0px;">  لیست متون </a></li>
                        <li><a class="clik5 " asp-page="/Company/OriginalTitle/Index" style="padding: 10px 94px 10px 0px;">عنوان  </a></li>
                        <li><a class="clik5 " asp-page="/Company/Subtitle/Index" style="padding: 10px 94px 10px 0px;"> بخش  </a></li>
                        <li><a class="clik5 " asp-page="/Company/Chapter/Index" style="padding: 10px 94px 10px 0px;"> فصل  </a></li>
                        <li><a class="clik5 " asp-page="/Company/Module/Index" style="padding: 10px 94px 10px 0px;">ماژول </a></li>
                    </ul>
                        
                
                        
                    
                </li>
                <li class="has_sub" permission="600">
                
                    <a class="waves-effect"><i class="fa fa-folder-open"></i><span> مدیریت لوایح  </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled sdf6">
                        <li><a class="clik6 " style="padding: 10px 94px 10px 0px;" asp-page="/Company/Bill/Index"> لیست لوایح </a></li>
                        <li><a class="clik6 " style="padding: 10px 94px 10px 0px;" asp-page="/Company/Bill/CreateBill">ایجاد</a></li>
                        <li><a class="clik6 " style="padding: 10px 94px 10px 0px; " asp-page="/Company/Contact2/Index">مخاطب </a></li>
                    </ul>
                        
                    
                </li>



            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
   
    </div>
</div>
<script src="~/AdminTheme/assets/js/bootstrap.js"></script>
<script src="~/AdminTheme/assets/js/jquery.min.js"></script>
<style>
    .submenu {
        background: #dce8dc;padding: 21px 92px 18px 0px;
    }
   
</style>
@*@section Script
    {
        <script src="~/AdminTheme/assets/js/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                if ($("#sidbar-menu a").Attr("href") === window.location.href) {
                    $.alert("heloo");
                } else {
                    $(".sdf").Attr("class", "sdf");
                }
            });
        </script>
    }*@





@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#button').click(function(){
                if(!$('#iframe').length) {
                    $('#iframeHolder').html('<iframe id="iframe" src="//player.vimeo.com/video/90429499" width="700" height="450"></iframe>');
                }
            });
        });
    </script>

    <button id="button">Button</button>
    <div id="iframeHolder"></div>*@
@*@section Script
{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
    <script>
        var path = location.pathname;
        // filter menu items to find one that has anchor tag with matching href:
        $('.sidebar-menu li').filter(function () {
            return '/' + $('a', this).attr('href') === path;
            // add class active to the item:
        }).addClass('active');
    </script>
}*@
