@using _0_Framework.Application
@model CompanyManagment.App.Contracts.Job.CreateJob
@{




    <style>

        .modal .modal-dialog .modal-content {
            height: 110px;
            width: 80%;
            background-color: #c11616;
            opacity: 0.8;
        }

        .select2-container {
            width: 100% !important;
        }

        .modal-footer {
            border-top: unset !important;
        }

        .modal .modal-dialog .modal-content .modal-footer {
            padding-top: unset !important;
        }

        p {
            direction: ltr !important;
            text-align: right !important;
            color: #fff;
        }

        input[type=radio]:hover {
            cursor: pointer;
        }

        .error {
            font-size: 14px !important;
        }
        button.close {
            color: #fff;
            font-size: 25px;
            opacity: 0.8;
            margin-top: 5px;
        }
    </style>

}




@*<div class="modal-header">
    

</div>*@
<div class="row">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

    <div class="col-md-12">

        <p>سال وارد شده قبلا ایجاد شده است</p>
        <p> می توانید از لیست پایین صفحه اقدام به ویرایش آن نمایید</p>
    </div>
</div>






