@using _0_Framework.Application
@model CompanyManagment.App.Contracts.CrossJobGuild.EditCrossJobGuild
@{
                <style>
                    .select2-container {
                        width: 100% !important;
                    }

                    .modal-footer {
                        border-top: unset !important;
                    }

                    .modal .modal-dialog .modal-content .modal-footer {
                        padding-top: unset !important;
                    }

                    p {
                        direction: ltr !important;
                        text-align: right !important;
                    }

                    input[type=radio]:hover {
                        cursor: pointer;
                    }

                    .error {
                        font-size: 14px !important;
                    }

                    th {
                        text-align: center;
                        vertical-align: middle;
                    }
                </style> }

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

    <form asp-page="./Index" asp-page-handler="Edit" id="workshops" autocomplete="off"
          method="post"
          data-ajax="true"
          data-callback=""
          data-action="Refresh"
          enctype="multipart/form-data">
        <div class="modal-body">
            <div class="row">
                <fieldset style="border: 1px solid #999797; border-radius: 10px; padding: revert">
                    <legend style="margin-bottom: 5px; font-size: large; border-bottom: 0px; color: #505458; width: 380px; text-align: center;">
                        ویرایش مشاغل قیمت مقطوع سازمان تامین اجتماعی
                    </legend>
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="Year" class="control-label">  سال </label>
                                <input type="text" class="form-control" asp-for="Year" data-val="true" data-val-required="فیلد الزامی است">
                                <span asp-validation-for="Year" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"> عنوان صنف و درجه </label>
                                <input type="text" class="form-control" asp-for="Title" data-val="true" data-val-required="فیلد الزامی است">
                                <span asp-validation-for="Title" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label asp-for="EconomicCode" class="control-label">   کد اقتصادی </label>
                        </div>
                    </div>
                    <div class="row">
                        <div id="ecoList">
                            @{ }
                            @foreach (var item in Model.economicCodeList)
                            {
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="number" class="form-control" asp-for="economicCodeList[0]" maxlength="5"
                               data-val="true" data-val-required="فیلد الزامی است" data-val-number="فقط عدد وارد نمایید"
                               data-val-maxlength="بیشتر از 5 رقم مجاز نیست"
                               data-val-maxlength-max="5">
                        <span asp-validation-for="economicCodeList[0]" style="font-size: 10px !important; text-align: center"
                              class="error">
                        </span>

                    </div>
                </div>}
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="button" onclick="addrowEconomicCode()"
                                        class="btn btn-sm btn-success btn-rounded waves-effect waves-light ">
                                    + افزودن
                                </button>
                            </div>
                        </div>
                    </div>


                    <table id="datatableCreate" class="table table-bordered">
                        <thead style="background-color:#a9fcff">
                            <tr>
                                <th style=" text-align: center; vertical-align: middle;" rowspan="2">#</th>
                                <th style=" font-size: 20px; text-align: center; vertical-align: middle" rowspan="2" colspan="2"> مشاغل </th>
                                <th style=" font-size: 20px; text-align: center; vertical-align: middle" colspan="2"> برای شهرهای کمتر از 500000 نفر </th>
                                <th style=" font-size: 20px; text-align: center; vertical-align: middle" colspan="3"> برای شهرهای بیشتر از 500000 نفر </th>
                            </tr>

                            <tr>
                                <th style=" font-size: 15px; text-align: center; vertical-align: middle"> به نسبت حداقل دستمزد </th>
                                <th style=" font-size: 15px; text-align: center; vertical-align: middle"> معادل ریالی </th>
                                <th style=" font-size: 15px; text-align: center; vertical-align: middle"> به نسبت حداقل دستمزد </th>
                                <th style=" font-size: 15px; text-align: center; vertical-align: middle" colspan="2"> معادل ریالی </th>
                            </tr>
                        </thead>

                        @{ var pri = Model.crossJobsListParent.Where(x => x.parentRowId == 0).ToList(); }
                        @for (int i = 0; i < pri.Count; i++)
                        {
                            var idstr = "crossJobsList_" + i + "__TitleStr";
                            var namestr = "crossJobsList[" + i + "].TitleStr";

                            var str = pri[i].Title + "";
                            foreach (var item in Model.crossJobsListParent.Where(x => x.parentRowId == pri[i].Id).ToList())
                            {
                                str += "-" + item.Title;
                            }
                             <tbody id="datatableTbody_@i">
                                 <tr id="datatableTr">
                    <td style="font-size: 14px !important; text-align: center">
                        @{ var index = i + 1; }
                        @index
                    </td>

                    <td style="font-size: 14px !important; text-align: center" class="crossJobssession">
                        <input type="text" class="form-control " id=@idstr name=@namestr>
                        <div class="form-group ">
                            <button type="button"
                                    onclick="addToTitle(@i)"
                                    class="btn btn-sm btn-success btn-rounded waves-effect waves-light ">
                                + افزودن
                            </button>
                        </div>

                    </td>
                    @{ var h = "textareacrossJobsList_" + i + "__Title";
                        var n = "textareacrossJobsList[" + i + "].Title"; }
                    <td style="font-size: 14px !important; text-align: center" class="crossJobssession">
                        <textarea disabled rows="3" cols="50" style="width:240px"
                                  id=@h
                                  name=@n class="form-control">@str</textarea>

                        <input type="hidden" class="form-control " asp-for="crossJobsList[i].Title" style="width:240px;">
                        <input type="hidden" asp-for="crossJobsList[i].Id" />

                    </td>
                    <td style="font-size: 14px !important; text-align: center" class="crossJobssession">
                        <input type="text" class="form-control " asp-for="crossJobsList[i].SalaryRatioUnder" data-val="true" data-val-required="فیلد الزامی است">
                        <span asp-validation-for="crossJobsList[i].SalaryRatioUnder" class="error"></span>
                    </td>
                    <td style="font-size: 14px !important; text-align: center" class="crossJobssession">
                        <input type="text" class="form-control " asp-for="crossJobsList[i].EquivalentRialUnder" data-val="true" data-val-required="فیلد الزامی است">
                        <span asp-validation-for="crossJobsList[i].EquivalentRialUnder" class="error"></span>
                    </td>
                    <td style="font-size: 14px !important; text-align: center" class="crossJobssession">
                        <input type="text" class="form-control " asp-for="crossJobsList[i].SalaryRatioOver" data-val="true" data-val-required="فیلد الزامی است">
                        <span asp-validation-for="crossJobsList[i].SalaryRatioOver" class="error"></span>
                    </td>
                    <td style="font-size: 14px !important; text-align: center" class="crossJobssession">
                        <input type="text" class="form-control " asp-for="crossJobsList[i].EquivalentRialOver" data-val="true" data-val-required="فیلد الزامی است">
                        <span asp-validation-for="crossJobsList[i].EquivalentRialOver" class="error"></span>
                    </td>
                    <td style="font-size: 14px !important; text-align: center">
                        <div class="removeRow" onclick="editRemoveRowCrossJob(@i);">
                            <i class="fa fa-minus-circle fa-2x" style="color: red;  cursor: pointer;"></i>
                        </div>
                    </td>
                </tr>
                             </tbody>
                       }
                    </table>

                    <button type="button" onclick="addrowTable()" class="btn btn-sm btn-success btn-rounded waves-effect waves-light pull-left">افزودن +</button>
                </fieldset>
            </div>

        </div>
        @*<input type="hidden" asp-for="id" value="id"/>*@
        <div class="modal-footer">

            <button type="submit" id="createButtom" class="btn btn-success btn-rounded waves-effect waves-light">ذخیره</button>
            <button type="button" class="btn btn-default btn-rounded waves-effect waves-light m-b-5" data-dismiss="modal">بستن</button>
        </div>

    </form>

</div>

<script>
    function submit() {
    }

    $(document).ready(function () {
        $('.modal-dialog').addClass('modal-lg');
    })

    function addrowEconomicCode() {
        var addNewEconomicCounter = $("#ecoList input[name^='economicCodeList']").length;
        console.log("Add row : " + addNewEconomicCounter);
        const htmls = `    <div class="col-md-2">
                                <div class="form-group">
                                    <input type="number" class="form-control" name="economicCodeList[${addNewEconomicCounter}]"
                                        id="economicCodeList_${addNewEconomicCounter}_" maxlength="5"
                                           data-val="true" data-val-required="فیلد الزامی است"  data-val-number="فقط عدد وارد نمایید"
                                            data-val-maxlength="بیشتر از 5 رقم مجاز نیست"
                                            data-val-maxlength-max="5"
                                            >
                                     <span class="error " data-valmsg-for="economicCodeList[${addNewEconomicCounter}]"
                                      style="font-size: 10px !important; text-align: center"   data-valmsg-replace="true"></span>
                                </div>
                            </div>`

        $('#ecoList ').append(htmls);
    }

    function addrowTable() {
        //className = "crossJobssession";
        //var id = "datatableCreate";
        //sortInputs(id, className, 5)



        var addNewCrossJobCounter = $("#datatableCreate input[name$='.SalaryRatioUnder']").length;
        console.log("Add row : " + addNewCrossJobCounter);
        const htmls = `
        <tbody id="datatableTbody_${addNewCrossJobCounter}">
         <tr >
            <td style="font-size: 14px !important; text-align: center" class="order">
            ${addNewCrossJobCounter + 1}
            </td>
            <td style="font-size: 14px !important; text-align: center"  class="crossJobssession">
                <input   type="text" class="form-control " id="crossJobsList_${addNewCrossJobCounter}__TitleStr" name="crossJobsList[${addNewCrossJobCounter}].TitleStr" >
                <div class="form-group ">
                <button type="button" onclick="addToTitle(${addNewCrossJobCounter})"
                    class="btn btn-sm btn-success btn-rounded waves-effect waves-light ">+ افزودن
                </button>
                </div>
            </td>
            <td style="font-size: 14px !important; text-align: center"  class="crossJobssession">
               <input  type="hidden" class="form-control " style="width:240px"  data-val="true" data-val-required="فیلد الزامی است"
                   id="crossJobsList_${addNewCrossJobCounter}__Title" name="crossJobsList[${addNewCrossJobCounter}].Title">
               <textarea disabled rows="3" cols="50" style="width:240px"
                   id="textareacrossJobsList_${addNewCrossJobCounter}__Title" name="textareacrossJobsList[${addNewCrossJobCounter}].Title">
               </textarea>
            <input type="hidden"  id="crossJobsList_${addNewCrossJobCounter}__Id" name="crossJobsList[${addNewCrossJobCounter}].Id" value="0" />

               <div style="font-size: 14px !important; text-align: center; vertical-align: middle" hidden>
                   <div  onclick="selectedText(${addNewCrossJobCounter})">
                  <i class="fa fa-minus-circle fa-2x" style="color: red;  cursor: pointer;"></i>
                   </div>
               </div>
            </td>
            <td style="font-size: 14px !important; text-align: center" class="crossJobssession">
                <input type="text" class="form-control "  data-val="true" data-val-required="فیلد الزامی است"
                    onchange="validDate(this,"crossJobsList_${addNewCrossJobCounter}__SalaryRatioUnder");
                        id="crossJobsList_${addNewCrossJobCounter}__SalaryRatioUnder" name="crossJobsList[${addNewCrossJobCounter}].SalaryRatioUnder">
               <span class="error field-validation-valid" data-valmsg-for="crossJobsList[${addNewCrossJobCounter}].SalaryRatioUnder" data-valmsg-replace="true"></span>
            </td>
            <td style="font-size: 14px !important; text-align: center" class="crossJobssession">
                <input type="text" class="form-control "  data-val="true" data-val-required="فیلد الزامی است"
                        id="crossJobsList_${addNewCrossJobCounter}__EquivalentRialUnder" name="crossJobsList[${addNewCrossJobCounter}].EquivalentRialUnder">
               <span class="error field-validation-valid" data-valmsg-for="crossJobsList[${addNewCrossJobCounter}].EquivalentRialUnder" data-valmsg-replace="true"></span>
            </td>
            <td style="font-size: 14px !important; text-align: center" class="crossJobssession">
               <input type="text" class="form-control "  data-val="true" data-val-required="فیلد الزامی است"
                        id="crossJobsList_${addNewCrossJobCounter}__SalaryRatioOver" name="crossJobsList[${addNewCrossJobCounter}].SalaryRatioOver">
               <span class="error field-validation-valid" data-valmsg-for="crossJobsList[${addNewCrossJobCounter}].SalaryRatioOver" data-valmsg-replace="true"></span>

            </td >
            <td style="font-size: 14px !important; text-align: center" class="crossJobssession">
                  <input type="text" class="form-control"  data-val="true" data-val-required="فیلد الزامی است"
                  id="crossJobsList_${addNewCrossJobCounter}__EquivalentRialOver" name="crossJobsList[${addNewCrossJobCounter}].EquivalentRialOver">
               <span class="error field-validation-valid" data-valmsg-for="crossJobsList[${addNewCrossJobCounter}].EquivalentRialOver" data-valmsg-replace="true"></span>

            </td >
            <td style = "font-size: 14px !important; text-align: center; vertical-align: middle" >
                <div class="removeRow" onclick="editRemoveRowCrossJob(${addNewCrossJobCounter});">
                <i class="fa fa-minus-circle fa-2x" style="color: red;  cursor: pointer;"></i>
                </div>
            </td >
            </tr>
         </tbody>`

        $('#datatableCreate ').append(htmls);

        //className = "crossJobssession";
        //var id = "datatableCreate";
        //sortInputs(id, className, 5)
    }

    function addToTitle(id) {
        var text = document.getElementById('crossJobsList_' + id + '__TitleStr').value;
        //var text = document.getElementById('crossJobsList_Title_' + id).value;
        if (text == '') {
            return;
        }
        $('#' + 'crossJobsList_' + id + '__Title').val($('#' + 'crossJobsList_' + id + '__Title').val() + '-' + text);
        var oldval = $('#' + 'crossJobsList_' + id + '__Title').val();
        $('#' + 'textareacrossJobsList_' + id + '__Title').val(oldval.trim());
        document.getElementById('crossJobsList_' + id + '__TitleStr').value = '';
    }

    function getInputSelection(el) {
        var start = 0, end = 0, normalizedValue, range,
            textInputRange, len, endRange;

        if (typeof el.selectionStart == "number" && typeof el.selectionEnd == "number") {
            start = el.selectionStart;
            end = el.selectionEnd;
        } else {
            range = document.selection.createRange();

            if (range && range.parentElement() == el) {
                len = el.value.length;
                normalizedValue = el.value.replace(/\r\n/g, "\n");

                // Create a working TextRange that lives only in the input
                textInputRange = el.createTextRange();
                textInputRange.moveToBookmark(range.getBookmark());

                // Check if the start and end of the selection are at the very end
                // of the input, since moveStart/moveEnd doesn't return what we want
                // in those cases
                endRange = el.createTextRange();
                endRange.collapse(false);

                if (textInputRange.compareEndPoints("StartToEnd", endRange) > -1) {
                    start = end = len;
                } else {
                    start = -textInputRange.moveStart("character", -len);
                    start += normalizedValue.slice(0, start).split("\n").length - 1;

                    if (textInputRange.compareEndPoints("EndToEnd", endRange) > -1) {
                        end = len;
                    } else {
                        end = -textInputRange.moveEnd("character", -len);
                        end += normalizedValue.slice(0, end).split("\n").length - 1;
                    }
                }
            }
        }

        return {
            start: start,
            end: end
        };
    }

    function replaceSelectedText(el, text) {
        var sel = getInputSelection(el), val = el.value;
        //console.log(sel);
        //console.log(val);
        //console.log(val.slice(sel.start, sel.end));
        var selected = val.slice(sel.start, sel.end);
        //console.log(val.slice(0, sel.start) + text + val.slice(sel.end));
        var arr = []; arr = val.split('-')
        //console.log(arr);
        var str = "";
        console.log(selected);

        for (var i = 0; i < arr.length; i++) {
            console.log(arr[i]);
            if (arr[i] == selected) {
                arr[i] = '';
            }
            if (arr[i] !== '') {
                str += '-' + arr[i];
            }
        }
        console.log(str);
        el.value = str;
        //el.value = val.slice(0, sel.start) + text + val.slice(sel.end);
    }

    function selectedText(id) {
        var el = document.getElementById('textareacrossJobsList_' + id + '__Title');
        replaceSelectedText(el, "");
        //$('#' + 'crossJobsList_' + id + '__Title').replaceSelectedText("NEW TEXT");
    }
    function editRemoveRowCrossJob(className) {
        className = "datatableTbody_" + className;
        var list = document.getElementById(className);
        var lst = list.value;
        console.log(lst);
        list.remove();
        var unit = $("#datatableCreate").parent().find('input').length;
        //var unit = $(tag).parent().find('input').length;
        console.log(unit);

        //$(this).closest('tr').remove();
        $('td.order').text(function (i) {
            console.log("order : " + i);

            return i + 1;
        });
        //var addNewCrossJobCounter = $("#datatableCreate input[name$='.SalaryRatioUnder']").length;
        //console.log("Add row : " + addNewCrossJobCounter);
        //$('#textareacrossJobsList_' + i + '__Title').text(function (i) {
        //    console.log("order : " + i);
        //    return i + 1;
        //});
        className = "crossJobssession";
        var id = "datatableCreate";// "crossJobsList";
        sortInputs(id, className, 7)

        //sortTitle(id);
        //if (sortId != '')
        //    sortPS(sortId);

        //else
        //    SumRemainingAmounts();
    }

    function sortInputs(id, className, unit) {

        var PSInput = $("#" + id + " ." + className + " input");
        console.log(PSInput);
        for (var i = 0; i < PSInput.length; i++) {

            //console.log($(PSInput[i]).attr('name'));
            var split_0 = $(PSInput[i]).attr('name').split('[')
            //console.log(split_0);

            var split_1 = split_0[0]
            var split_2 = split_0[1]
            var split_2 = split_2.split(']')
            var split_2 = split_2[1]



            var split_00 = $(PSInput[i]).attr('id').split('_')
            var split_11 = split_00[0]
            var split_22 = split_00[3]

            $(PSInput[i]).attr('name', split_1 + "[" + Math.floor(i / unit) + "]" + split_2)
            $(PSInput[i]).next('span').attr('name', split_1 + "[" + Math.floor(i / unit) + "]" + split_2)
            $(PSInput[i]).next('span').attr('data-valmsg-for', split_1 + "[" + Math.floor(i / unit) + "]" + split_2)

            $(PSInput[i]).attr('id', split_11 + "_" + Math.floor(i / unit) + "__" + split_22)
            $(PSInput[i]).prev('label').attr('for', split_11 + "_" + Math.floor(i / unit) + "__" + split_22)
        }

        var PSTextarea = $("#" + id + " ." + className + " textarea");
        for (var i = 0; i < PSTextarea.length; i++) {
            console.log($(PSInput[i]).attr('name'));
            console.log($(PSInput[1]).attr('name'));

            var split_0 = $(PSTextarea[i]).attr('name').split('[')
            var split_1 = split_0[0]
            var split_2 = split_0[1]
            var split_2 = split_2.split(']')
            var split_2 = split_2[1]
            console.log("435");
            console.log(split_0);
            var split_00 = $(PSTextarea[i]).attr('id').split('_')
            var split_11 = split_00[0]
            var split_22 = split_00[3]
            console.log("442");
            console.log(split_00);
            $(PSTextarea[i]).attr('name', split_1 + "[" + i + "]" + split_2)
            $(PSTextarea[i]).next('span').attr('name', split_1 + "[" + i + "]" + split_2)
            $(PSTextarea[i]).next('span').attr('data-valmsg-for', split_1 + "[" + i + "]" + split_2)

            $(PSTextarea[i]).attr('id', split_11 + "_" + i + "__" + split_22)
            $(PSTextarea[i]).prev('label').attr('for', split_11 + "_" + i + "__" + split_22)

        }





        var PSButton = $("#" + id + " button");
        for (var i = 0; i < PSButton.length; i++) {
            $(PSButton[i]).attr("onclick", "addToTitle(" + i + ")");

        }

        var PSTbody = $("#" + id + " Tbody");
        console.log(PSTbody);
        for (var i = 0; i < PSTbody.length; i++) {
            //console.log($(PSInput[i]).attr('name'));
            //console.log($(PSInput[1]).attr('name'));
            $(PSTbody[i]).attr("id", "datatableTbody_" + i);
        }
        var PSRemove = $("#" + id + " .removeRow");
        console.log(PSRemove);
        for (var i = 0; i < PSRemove.length; i++) {
            //console.log($(PSInput[i]).attr('name'));
            //console.log("removeRowCrossJob('datatableTbody_" + i + "')"));
            $(PSRemove[i]).attr("onclick", "editRemoveRowCrossJob(" + i + ")");
        }

    }


    function sortTitle(id) {
        id = "crossJobsList_Title_";

        var PSCount = ($("#" + id + " .proceedingSession").length - 1) / 2;
        var PSLabel = $("#" + id + " .dateLabel");

        for (var i = 0; i < PSCount; i++) {

            $(PSLabel[i]).html('تاریخ نوبت ' + turns[i] + ' رسیدگی')
        }
    }
    function validDate(inputField, id) {

        if (inputField.value != '') {

            validCheck = true;
            $('#' + id).val("فیلد الزامی است");
        }
        else {
            validCheck = false;
            $('#' + id).val();

        }

    }
    function validation() {
        console.log("VAlidation");
        return false;
    }

</script>


