@model CompanyManagment.App.Contracts.Petition.CreatePetition

    <style>
        /* .modal-dialog {
            width: 94% !important;
        }*/

        .select2-container {
            width: 100% !important;
        }

        .modal-footer {
            border-top: unset !important;
        }

        .modal .modal-dialog .modal-content .modal-footer {
            padding-top: unset !important;
        }

        p {
            direction: ltr !important;
            text-align: right !important;
        }

        input[type=radio]:hover {
            cursor: pointer;
        }

        .error {
            font-size: 14px !important;
        }
    </style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

    <form asp-page="./Index" asp-page-handler="CreatePetition" id="workshops" autocomplete="off"
          method="post"
          data-ajax="true"
          data-callback=""
          data-action="Refresh"
          enctype="multipart/form-data">
        <div class="modal-body">
            <div class="row">
                <fieldset class="m-b-30" style="border: 1px solid #999797; border-radius: 10px; padding: revert">
                    <legend style="margin-bottom: 5px; font-size: large; border-bottom: 0px; color: #505458; width: 140px; text-align: center;"> شرح دادنامه </legend>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="FileData.ArchiveNo" class="control-label">  شماره بایگانی </label>
                                <input type="text" class="form-control" asp-for="FileData.ArchiveNo">
                                <span asp-validation-for="FileData.ArchiveNo" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="FileData.FileClass" class="control-label"> کلاسه پرونده </label>
                                <input type="text" class="form-control" asp-for="FileData.FileClass">
                                <span asp-validation-for="FileData.FileClass" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="FileData.Reqester" class="control-label"> موکل </label>
                                <select class="form-control select2-tag" asp-for="FileData.Reqester">
                                    <option value="1">اکبر اکبرزاده</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="BoardProcessingStage" class="control-label"> مرحله رسیدگی </label>
                                <select class="form-control select2-tag" asp-for="BoardProcessingStage">
                                    @if(Model.BoardTypeId == false)
                                    {
                                        <option value="0">تشخیص</option>
                                    }
                                    else
                                    {
                                        <option value="1">حل اختلاف</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="PetitionIssuanceDate" class="control-label persianDateInput"> تاریخ صدور دادنامه </label>
                                <input type="text" class="form-control" asp-for="PetitionIssuanceDate">
                                <span asp-validation-for="PetitionIssuanceDate" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="NotificationPetitionDate" class="control-label persianDateInput"> تاریخ ابلاغ دادنامه </label>
                                <input type="text" class="form-control" asp-for="NotificationPetitionDate">
                                <span asp-validation-for="NotificationPetitionDate" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="TotalPenalty" class="control-label"> جمع نهایی دادنامه </label>
                                <input type="text" class="form-control" asp-for="TotalPenalty">
                                <span asp-validation-for="TotalPenalty" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="TotalPenaltyTitles" class="control-label"> جمع عناوین دادنامه </label>
                                <input type="text" class="form-control" asp-for="TotalPenaltyTitles">
                                <span asp-validation-for="TotalPenaltyTitles" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div id="recordVerification" class="row m-t-15">
                        <h4 class="m-r-10">احراز سابقه</h4>
                        <div class="col-md-3 recordVerification">
                            <div class="form-group">
                                <label asp-for="CreateWorkHistory[0].FromDate" class="control-label"> از تاریخ </label>
                                <input type="text" class="form-control" asp-for="CreateWorkHistory[0].FromDate" 
                                       onfocusout="insertMinDate('CreateWorkHistory_0__FromDate','CreateWorkHistory_0__ToDate')">
                                <span asp-validation-for="CreateWorkHistory[0].FromDate" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-3 recordVerification">
                            <div class="form-group">
                                <label asp-for="CreateWorkHistory[0].ToDate" class="control-label"> تا تاریخ </label>
                                <input type="text" class="form-control" asp-for="CreateWorkHistory[0].ToDate">
                                <span asp-validation-for="CreateWorkHistory[0].ToDate" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-3 recordVerification">
                            <div class="form-group">
                                <label asp-for="CreateWorkHistory[0].WorkingHoursPerDay" class="control-label"> ساعت کار در روز </label>
                                <input type="text" class="form-control" asp-for="CreateWorkHistory[0].WorkingHoursPerDay">
                                <span asp-validation-for="CreateWorkHistory[0].WorkingHoursPerDay" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-3 recordVerification">
                            <div class="form-group">
                                <label asp-for="CreateWorkHistory[0].WorkingHoursPerWeek" class="control-label"> ساعت کار در هفته </label>
                                <input type="text" class="form-control" asp-for="CreateWorkHistory[0].WorkingHoursPerWeek">
                                <span asp-validation-for="CreateWorkHistory[0].WorkingHoursPerWeek" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-12 recordVerification">
                            <div class="form-group">
                                <label asp-for="CreateWorkHistory[0].Description" class="control-label"> توضیحات </label>
                                <textarea class="form-control" asp-for="CreateWorkHistory[0].Description"></textarea>
                                <span asp-validation-for="CreateWorkHistory[0].Description" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-8 addRecordVerificationFormButton"></div>
                        <div class="col-md-4">
                            <a onclick="addNewFormWorkhistory('addRecordVerificationFormButton')" class="btn btn-rounded btn-success waves-effect waves-light col-xs-12 m-b-30">+ افزودن عنوان</a>
                        </div>
                    </div>
                    
                    <div id="penaltyTitles" class="row m-t-15">
                        <div class="col-md-4 penaltyTitles">
                            <div class="form-group">
                                <label asp-for="CreatePenaltyTitle[0].Title" class="control-label"> عنوان </label>
                                <input type="text" class="form-control" asp-for="CreatePenaltyTitle[0].Title">
                                <span asp-validation-for="CreatePenaltyTitle[0].Title" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-4 penaltyTitles">
                            <div class="form-group">
                                <label asp-for="CreatePenaltyTitle[0].Day" class="control-label"> روز </label>
                                <input type="text" class="form-control" asp-for="CreatePenaltyTitle[0].Day">
                                <span asp-validation-for="CreatePenaltyTitle[0].Day" class="error"></span>
                            </div>
                        </div><div class="col-md-4 penaltyTitles">
                            <div class="form-group">
                                <label asp-for="CreatePenaltyTitle[0].FromDate" class="control-label"> از تارخ </label>
                                <input type="text" class="form-control" asp-for="CreatePenaltyTitle[0].FromDate">
                                <span asp-validation-for="CreatePenaltyTitle[0].FromDate" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-4 penaltyTitles">
                            <div class="form-group">
                                <label asp-for="CreatePenaltyTitle[0].ToDate" class="control-label"> تا تاریخ </label>
                                <input type="text" class="form-control" asp-for="CreatePenaltyTitle[0].ToDate">
                                <span asp-validation-for="CreatePenaltyTitle[0].ToDate" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-4 penaltyTitles">
                            <div class="form-group">
                                <label asp-for="CreatePenaltyTitle[0].PaidAmount" class="control-label"> علی الحساب پرداختی </label>
                                <input type="text" class="form-control" asp-for="CreatePenaltyTitle[0].PaidAmount">
                                <span asp-validation-for="CreatePenaltyTitle[0].PaidAmount" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-4 penaltyTitles">
                            <div class="form-group">
                                <label asp-for="CreatePenaltyTitle[0].RemainingAmount" class="control-label"> مبلغ باقیمانده </label>
                                <input type="text" class="form-control" asp-for="CreatePenaltyTitle[0].RemainingAmount">
                                <span asp-validation-for="CreatePenaltyTitle[0].RemainingAmount" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-8 penaltyTitlesFormButton"></div>
                        <div class="col-md-4">
                            <a onclick="addNewFormPenaltyTitles('penaltyTitlesFormButton')" class="btn btn-rounded btn-success waves-effect waves-light col-xs-12 m-b-30">+ افزودن عنوان</a>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"> توضیحات </label>
                            <textarea class="form-control" asp-for="Description"></textarea>
                            <span asp-validation-for="Description" class="error"></span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="modal-footer">

            <button type="submit" class="btn btn-success btn-rounded waves-effect waves-light">ذخیره</button>

            <button type="button" class="btn btn-default btn-rounded waves-effect waves-light m-b-5" data-dismiss="modal">بستن</button>
        </div>

    </form>

</div>


<script>
    $(".select2-tag").select2({
        language: "fa",
        dir: "rtl"
    });
    
    $('#PetitionIssuanceDate').persianDatepicker({
        format: 'YYYY/MM/DD',
        initialValueType: 'persian',
        initialValue: false,
        'position': [-270, 25],
        autoClose: true,

        calendar: {
            persian: {
                leapYearMode: 'astronomical'
            }
        }
    });
    
    $('#NotificationPetitionDate').persianDatepicker({
        format: 'YYYY/MM/DD',
        initialValueType: 'persian',
        initialValue: false,
        'position': [-270, 25],
        autoClose: true,

        calendar: {
            persian: {
                leapYearMode: 'astronomical'
            }
        }
    });
    
    $('#CreateWorkHistory_0__FromDate').persianDatepicker({
        format: 'YYYY/MM/DD',
        initialValueType: 'persian',
        initialValue: false,
        'position': [-270, 25],
        autoClose: true,

        calendar: {
            persian: {
                leapYearMode: 'astronomical'
            }
        }
    });
    
    $('#CreateWorkHistory_0__ToDate').persianDatepicker({
        format: 'YYYY/MM/DD',
        initialValueType: 'persian',
        initialValue: false,
        'position': [-270, 25],
        autoClose: true,

        calendar: {
            persian: {
                leapYearMode: 'astronomical'
            }
        }
    });
    
    $('#CreatePenaltyTitle_0__FromDate').persianDatepicker({
        format: 'YYYY/MM/DD',
        initialValueType: 'persian',
        initialValue: false,
        'position': [-270, 25],
        autoClose: true,

        calendar: {
            persian: {
                leapYearMode: 'astronomical'
            }
        }
    });
    
    $('#CreatePenaltyTitle_0__ToDate').persianDatepicker({
        format: 'YYYY/MM/DD',
        initialValueType: 'persian',
        initialValue: false,
        'position': [-270, 25],
        autoClose: true,

        calendar: {
            persian: {
                leapYearMode: 'astronomical'
            }
        }
    });

</script>
<script>
    
    var penaltyTitleCounter = 0;
    var workhistoryCounter = 0;

    function addNewFormWorkhistory(flag) {

        //var content = $("#" + dataType + " ." + dataType);
        ////var cn = $(content[0]).clone(true);

        ////$(cn).find('label').html('تاریخ نوبت ' + turns[$(content).size()/3 - 1] + ' رسیدگی');
         
        ////$(cn).insertBefore("#" + dataType + " .addProceedingSessionFormButton");
        //$(content[0]).clone().insertBefore("#" + dataType + " ." + flag);
        //$(content[1]).clone().insertBefore("#" + dataType + " ." + flag);
        //$(content[2]).clone().insertBefore("#" + dataType + " ." + flag);
        //$(content[3]).clone().insertBefore("#" + dataType + " ." + flag);
        //$(content[4]).clone().insertBefore("#" + dataType + " ." + flag);
        
        workhistoryCounter++;
        
        const html = `<div class="col-md-3 recordVerification">
                            <div class="form-group">
                                <label class="control-label" for="CreateWorkHistory_${workhistoryCounter}__FromDate"> از تاریخ </label>
                                <input type="text" class="form-control" id="CreateWorkHistory_${workhistoryCounter}__FromDate" name="CreateWorkHistory[${workhistoryCounter}].FromDate" value="">
                                <span class="error field-validation-valid" data-valmsg-for="CreateWorkHistory[${workhistoryCounter}].FromDate" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-3 recordVerification">
                            <div class="form-group">
                                <label class="control-label" for="CreateWorkHistory_${workhistoryCounter}__ToDate"> تا تاریخ </label>
                                <input type="text" class="form-control" id="CreateWorkHistory_${workhistoryCounter}__ToDate" name="CreateWorkHistory[${workhistoryCounter}].ToDate" value="">
                                <span class="error field-validation-valid" data-valmsg-for="CreateWorkHistory[${workhistoryCounter}].ToDate" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-3 recordVerification">
                            <div class="form-group">
                                <label class="control-label" for="CreateWorkHistory_${workhistoryCounter}__WorkingHoursPerDay"> ساعت کار در روز </label>
                                <input type="text" class="form-control" id="CreateWorkHistory_${workhistoryCounter}__WorkingHoursPerDay" name="CreateWorkHistory[${workhistoryCounter}].WorkingHoursPerDay" value="">
                                <span class="error field-validation-valid" data-valmsg-for="CreateWorkHistory[${workhistoryCounter}].WorkingHoursPerDay" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-3 recordVerification">
                            <div class="form-group">
                                <label class="control-label" for="CreateWorkHistory_${workhistoryCounter}__WorkingHoursPerWeek"> ساعت کار در هفته </label>
                                <input type="text" class="form-control" id="CreateWorkHistory_${workhistoryCounter}__WorkingHoursPerWeek" name="CreateWorkHistory[${workhistoryCounter}].WorkingHoursPerWeek" value="">
                                <span class="error field-validation-valid" data-valmsg-for="CreateWorkHistory[${workhistoryCounter}].WorkingHoursPerWeek" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-12 recordVerification">
                            <div class="form-group">
                                <label class="control-label" for="CreateWorkHistory_${workhistoryCounter}__Description"> توضیحات </label>
                                <textarea class="form-control" id="CreateWorkHistory_${workhistoryCounter}__Description" name="CreateWorkHistory[${workhistoryCounter}].Description"></textarea>
                                <span class="error field-validation-valid" data-valmsg-for="CreateWorkHistory[${workhistoryCounter}].Description" data-valmsg-replace="true"></span>
                            </div>
                        </div>`

        $(html).insertBefore("."+ flag)
        
        $(`#CreateWorkHistory_${workhistoryCounter}__FromDate`).persianDatepicker({
            format: 'YYYY/MM/DD',
            initialValueType: 'persian',
            initialValue: false,
            'position': [-270, 25],
            autoClose: true,

            calendar: {
                persian: {
                    leapYearMode: 'astronomical'
                }
            }
        });
        
        $(`#CreateWorkHistory_${workhistoryCounter}__ToDate`).persianDatepicker({
            format: 'YYYY/MM/DD',
            initialValueType: 'persian',
            initialValue: false,
            'position': [-270, 25],
            autoClose: true,

            calendar: {
                persian: {
                    leapYearMode: 'astronomical'
                }
            }
        });
    }
    
    function addNewFormPenaltyTitles(flag) {

        penaltyTitleCounter++;
        
        const html = `
                        <div class="col-md-4 penaltyTitles">
                            <div class="form-group">
                                <label class="control-label" for="CreatePenaltyTitle_${penaltyTitleCounter}__Title"> عنوان </label>
                                <input type="text" class="form-control" id="CreatePenaltyTitle_${penaltyTitleCounter}__Title" name="CreatePenaltyTitle[${penaltyTitleCounter}].Title" value="">
                                <span class="error field-validation-valid" data-valmsg-for="CreatePenaltyTitle[${penaltyTitleCounter}].Title" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-4 penaltyTitles">
                            <div class="form-group">
                                <label class="control-label" for="CreatePenaltyTitle_${penaltyTitleCounter}__Day"> روز </label>
                                <input type="text" class="form-control" id="CreatePenaltyTitle_${penaltyTitleCounter}__Day" name="CreatePenaltyTitle[${penaltyTitleCounter}].Day" value="">
                                <span class="error field-validation-valid" data-valmsg-for="CreatePenaltyTitle[${penaltyTitleCounter}].Day" data-valmsg-replace="true"></span>
                            </div>
                        </div><div class="col-md-4 penaltyTitles">
                            <div class="form-group">
                                <label class="control-label" for="CreatePenaltyTitle_${penaltyTitleCounter}__FromDate"> از تارخ </label>
                                <input type="text" class="form-control" id="CreatePenaltyTitle_${penaltyTitleCounter}__FromDate" name="CreatePenaltyTitle[${penaltyTitleCounter}].FromDate" value="">
                                <span class="error field-validation-valid" data-valmsg-for="CreatePenaltyTitle[${penaltyTitleCounter}].FromDate" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-4 penaltyTitles">
                            <div class="form-group">
                                <label class="control-label" for="CreatePenaltyTitle_${penaltyTitleCounter}__ToDate"> تا تاریخ </label>
                                <input type="text" class="form-control" id="CreatePenaltyTitle_${penaltyTitleCounter}__ToDate" name="CreatePenaltyTitle[${penaltyTitleCounter}].ToDate" value="">
                                <span class="error field-validation-valid" data-valmsg-for="CreatePenaltyTitle[${penaltyTitleCounter}].ToDate" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-4 penaltyTitles">
                            <div class="form-group">
                                <label class="control-label" for="CreatePenaltyTitle_${penaltyTitleCounter}__PaidAmount"> علی الحساب پرداختی </label>
                                <input type="text" class="form-control" id="CreatePenaltyTitle_${penaltyTitleCounter}__PaidAmount" name="CreatePenaltyTitle[${penaltyTitleCounter}].PaidAmount" value="">
                                <span class="error field-validation-valid" data-valmsg-for="CreatePenaltyTitle[${penaltyTitleCounter}].PaidAmount" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-4 penaltyTitles">
                            <div class="form-group">
                                <label class="control-label" for="CreatePenaltyTitle_${penaltyTitleCounter}__RemainingAmount"> مبلغ باقیمانده </label>
                                <input type="text" class="form-control" id="CreatePenaltyTitle_${penaltyTitleCounter}__RemainingAmount" name="CreatePenaltyTitle[${penaltyTitleCounter}].RemainingAmount" value="">
                                <span class="error field-validation-valid" data-valmsg-for="CreatePenaltyTitle[${penaltyTitleCounter}].RemainingAmount" data-valmsg-replace="true"></span>
                            </div>
                        </div>`;
                    
        $(html).insertBefore("."+ flag)
        
        $(`#CreatePenaltyTitle_${penaltyTitleCounter}__FromDate`).persianDatepicker({
            format: 'YYYY/MM/DD',
            initialValueType: 'persian',
            initialValue: false,
            'position': [-270, 25],
            autoClose: true,

            calendar: {
                persian: {
                    leapYearMode: 'astronomical'
                }
            }
        });
        
        $(`#CreatePenaltyTitle_${penaltyTitleCounter}__ToDate`).persianDatepicker({
            format: 'YYYY/MM/DD',
            initialValueType: 'persian',
            initialValue: false,
            'position': [-270, 25],
            autoClose: true,

            calendar: {
                persian: {
                    leapYearMode: 'astronomical'
                }
            }
        });

    }
    
    function insertMinDate(dateFrom, dateTo){
        console.log(dateFrom, dateTo)
        
        $(`#${dateTo}`).persianDatepicker({
            minDate: $(`#${dateFrom}`).value,
            //minDate: "۱۴۰۱/۰۶/۲۸",
        });
    }
</Script>                               

